<!DOCTYPE html>
<html lang="en">
<head>
<title>Learn Center</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/Molengo_400.font.js"></script>
<script type="text/javascript" src="js/Expletus_Sans_400.font.js"></script>


<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("js/PIE.htc");}</style>
<![endif]-->
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:1103px;
	top:70px;
	width:254px;
	height:161px;
	z-index:1;
}
#Layer2 {
	position:absolute;
	left:1122px;
	top:153px;
	width:50px;
	height:29px;
	z-index:2;
}
#Layer3 {
	position:absolute;
	left:1249px;
	top:188px;
	width:47px;
	height:28px;
	z-index:3;
}
#Layer4 {
	position:absolute;
	left:1095px;
	top:32px;
	width:114px;
	height:28px;
	z-index:4;
}
#Layer5 {
	position:absolute;
	left:168px;
	top:275px;
	width:414px;
	height:295px;
	z-index:5;
}
#Layer6 {
	position:absolute;
	left:1041px;
	top:25px;
	width:207px;
	height:177px;
	z-index:6;
}
#Layer7 {
	position:absolute;
	left:1045px;
	top:76px;
	width:56px;
	height:21px;
	z-index:7;
}
#Layer8 {
	position:absolute;
	left:1044px;
	top:116px;
	width:55px;
	height:18px;
	z-index:8;
}
#Layer9 {
	position:absolute;
	left:1109px;
	top:75px;
	width:99px;
	height:25px;
	z-index:9;
}
#Layer10 {
	position:absolute;
	left:1116px;
	top:117px;
	width:83px;
	height:20px;
	z-index:10;
}
#Layer11 {
	position:absolute;
	left:1093px;
	top:109px;
	width:256px;
	height:170px;
	z-index:11;
}
.style2 {
	color: #000000;
	font-weight: bold;
}
#Layer12 {
	position:absolute;
	left:1186px;
	top:66px;
	width:112px;
	height:17px;
	z-index:12;
}
.error
{
	border:#FF0000 solid 1px;
}
-->
</style>
</head>
<body id="page1">
<div id="Layer11">
  <form name="form3" id="form3" method="post" action="">
    <p><span class="style2">User ID &nbsp;&nbsp;
        &nbsp;<input name="txtuser" type="text" id="txtuser" <?php if(isset($_GET['error']) && isset($_SESSION['error'])) echo("class='error'");?>>
    </span></p>
    <div class="style2" id="layer"></div>
    <p class="style2">Password
      
      <input name="txtpass" type="password" id="txtpass" <?php if(isset($_GET['error']) && isset($_SESSION['error'])) echo("class='error'");?>>
    </p>
    <p class="style2">
      <label for="Submit"></label>
     &nbsp;&nbsp;
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<input type="submit" name="Submit" value="Login" id="Submit">
      <label for="label"></label>
      <input type="reset" name="Submit2" value="Reset" id="label"></p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  
  </form>
</div>
<div class="style2" id="Layer12">Login  </div>
<div id="Layer1">
 
    <p>&nbsp;</p>
    <table width="37%" height="125" border="1" cellspacing="2">
      <tr>
        <td height="35">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="40">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="40">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <p>&nbsp;</p>
  
</div>
<?php include($content);?>
</body>
</html>