<div id="Layer5">
  <input type="image" name="imageField" src="images/image-of-animated-book-to-use.gif">
</div>
<div class="body1">
  <div class="main">
    <!-- header -->
    <header>
      <div class="wrapper">
        <nav>
          <ul id="menu">
            <li><a href="home.php">Home</a></li>
            <li><a href="courses.php">Courses</a></li>
            <li><a href="programs.php">Programs</a></li>
            <li><a href="teachers.php">Teachers</a></li>
            <li><a href="admissions.php">Admissions</a></li>
			<li class="end"><a href="contacts.php">Contacts</a></li>
          </ul>
        </nav>
        <ul id="icon">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <div class="wrapper">
        <h1>
          <label for="imageField"></label>
          <label for="imageField"></label>
          <label for="imageField"></label>
          <input type="image" name="imageField2" src="images/ytt.jpg" id="imageField">
        </h1>
      </div>
      <div id="slogan"> We Will Open The World<span>of knowledge for you!</span> </div>
      <ul class="banners">
        <li><a href="AdminPage.php"></a></li>
        <li><a href="LecturerPage.php"></a></li>
        <li><a href="StudentPage.php"></a></li>
      </ul>
    </header>
    <!-- / header -->
  </div>
</div>


